<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To-do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as taskCtrl">
  <h3>Total Tasks: {{ taskCtrl.counter }}</h3>
    <div>
      <form class="form-horizontal">
        <input type="text" ng-model="taskCtrl.newTask">
        <button class="btn" ng-click="taskCtrl.addTask()">Add Task</button>
        <button class="btn" ng-click="taskCtrl.deleteCompletedTasks()">Clear Completed Tasks</button>
      </form>
      <ul class="list-group">
        <li ng-repeat="task in taskCtrl.taskList">
          <h2>{{ task.description }}</h2>
          <p>Status: {{ task.status }}</p>
          <button class="btn" ng-click="taskCtrl.deleteTask($index)">Delete Task</button>
          <button class="btn" ng-click="taskCtrl.completeTask($index)">Complete Task</button>
        </li>
      </ul>
    </div>
  </body>
</html>